<ion-view view-title="Filme">
  <ion-content>
    
    <div class="list card mycard">
		  <div class="item item-avatar">
		    <h2>{{movie.original_title}}</h2>
		    <p>{{movie.release_date}}</p>
		  </div>

		  <div class="item item-body">
		  	<div class="row">
					<div class="poster">
			  		<img class="poster-image" alt="{{movie.original_title}}" ng-src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
			  		<button class="button button-dark add-btn"><i class="ion-android-add"></i> Lista</button>
			  	</div>
		  	</div>

				<div style='clear: both'></div>
		  	<div class="overview">
			  	<p>
			     	{{movie.overview}}
			    </p>
			    <p>
			    <div class="row">
			    	<div class="col col-33">
			    		<a href="#" class="subdued">Compartilhe</a>
			    	</div>
			    	<div class="col col-67">
				    	<ul class="social-links">
	               <li><a href="#"><i class="ion-social-facebook"></i></a></li>
	               <li><a href="#"><i class="ion-social-twitter"></i></a></li>
	               <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
	               <li><a href="#"><i class="ion-social-instagram"></i></a></li>
	           	</ul>
			    	</div>
			    </div>
			

			    </p>
		  	</div>

		  </div>

		</div>

  </ion-content>
</ion-view>
