<ion-view view-title="Filme">
  <ion-content>
    
    <div class="list card mycard">
		  <div class="item item-avatar">
		    <h2>{{movie.original_title}}</h2>
		    <p>{{movie.release_date}}</p>
		  </div>

		  <div class="item item-body">
		  	<div class="row">
					<div class="poster">
			  		<img class="poster-image" alt="{{movie.original_title}}" ng-src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
			  		<button ng-disabled="isFavorite(movie)" ng-click= "addToFavorite(movie)" class="button button-dark add-btn"><i class="ion-android-add"></i> Lista</button>
			  	</div>
		  	</div>

				<div style='clear: both'></div>
		  	<div class="overview">
			  	<p>
			     	{{movie.overview}}
			    </p>
			    <p>
			    Compartilhe (Meu celular apenas comportava o compartilhamento geral, logo os outros não foram testados):
			    <div class="row">
				    	<ul class="social-links">
				    		<li><a ng-click="shareAnywhere()" href=""><i class="ion-android-share-alt"></i></a></li>
	              <li><a ng-click="shareViaType('facebook', 'Muito legal','http://image.tmdb.org/t/p/w300/{{movie.poster_path}}', 'www.google.com')" href=""><i class="ion-social-facebook"></i></a></li>
	              <li><a ng-click="shareViaType('twitter', 'Muito legal','http://image.tmdb.org/t/p/w300/{{movie.poster_path}}', 'www.google.com')" href=""><i class="ion-social-twitter"></i></a></li>
	              <li><a ng-click="shareViaType('googleplus', 'Muito legal','http://image.tmdb.org/t/p/w300/{{movie.poster_path}}', 'www.google.com')" href=""><i class="ion-social-googleplus"></i></a></li>
	           	</ul>
			    </div>
			

			    </p>
		  	</div>

		  </div>

		</div>

  </ion-content>
</ion-view>
