<ion-view title="Resultados">

  <ion-content >
    <ion-refresher
        pulling-text="Arraste para atualizar..."
        on-refresh="refreshItems()" >
    </ion-refresher >

    
    <ion-list >
      <ion-item ng-repeat="movie in movies.results | filter:search" 
            ng-class=" isFavorite(movie)? 'item-thumbnail-left favorite': 'item-thumbnail-left normal'"
              ng-click="showMovie(movie)">
        <img ng-src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
        <h2>{{::movie.original_title}}</h2 >
        
         <p>
          <span >Data de Estreia:
            <i class="ion ion-ios-navigate" ></i>
            {{::movie.release_date}}</span>
        </p>
         <p>
            <span>
              Nota:<i class="ion ion-star" ></i>#{{::movie.vote_average}}
            </span>
         </p>

        <ion-option-button style="bg-color:red" ng-if="isFavorite(movie)" class="ion-minus-circled"
            ng-click="removeFromFavorites(movie); $event.stopPropagation();">
          &nbsp Favoritos
        </ion-option-button>
        <ion-option-button ng-if="!isFavorite(movie)" class="ion-plus-circled"
            ng-click="addToFavorites(movie); $event.stopPropagation();">
          &nbsp Favoritos
        </ion-option-button>

      </ion-item>
    </ion-list>

    <ion-infinite-scroll
        ng-if="moreDataCanBeLoaded()"
        on-infinite="nextPage()"
        distance="1%"
        immediate-check="false" >
    </ion-infinite-scroll >

    <div class="padding text-center"
         ng-if="!movies.hasMore" >
      <p >Sem mais resultados</p >
    </div >
  </ion-content >
</ion-view>